.drawflow .fathym-node {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  padding: 15px;
  -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
  box-shadow: 0 2px 15px 2px var(--border-color); }

.drawflow .fathym-node.selected {
  filter: brightness(2);
  border: 1px solid #4ea9ff;
  -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff; }

.drawflow .fathym-node:hover {
  cursor: move; }
